<ion-app>
  <ion-menu side="start" menuId="first" contentId="mainContent">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button (click)="changeIp()">
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-label>IP:</ion-label>
        </ion-item>
        <ion-item button (click)="connect()">
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-label>Connect</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="moon" slot="start"></ion-icon>
          <ion-label>darkmode</ion-label>
          <ion-toggle (ionChange)="onClick($event)" slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Manage LEDs</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainContent" main></ion-router-outlet>
</ion-app>
