<ion-header>
  <ion-toolbar>
    <ion-title>Manage LEDs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">LED1</ion-label>
            <ion-input required type="text" (ionChange)="changeName($event.detail.value, 1)" value="{{ledmap[1].name}}"></ion-input>
            <ion-toggle slot="end" (ionChange)="changeToggle($event.detail.checked, 1)" [checked]="ledmap[1].enabled"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">LED2</ion-label>
            <ion-input required type="text" (ionChange)="changeName($event.detail.value, 2)" value="{{ledmap[2].name}}"></ion-input>
            <ion-toggle slot="end" (ionChange)="changeToggle($event.detail.checked, 2)" [checked]="ledmap[2].enabled"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">LED3</ion-label>
            <ion-input required type="text" (ionChange)="changeName($event.detail.value, 3)" value="{{ledmap[3].name}}"></ion-input>
            <ion-toggle slot="end" (ionChange)="changeToggle($event.detail.checked, 3)" [checked]="ledmap[3].enabled"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">LED4</ion-label>
            <ion-input required type="text" (ionChange)="changeName($event.detail.value, 4)" value="{{ledmap[4].name}}"></ion-input>
            <ion-toggle slot="end" (ionChange)="changeToggle($event.detail.checked, 4)" [checked]="ledmap[4].enabled"></ion-toggle>
          </ion-item>

          <ion-item>
            <ion-button (click)="cancel()" size="default" >
              Cancel
            </ion-button>
            <ion-button (click)="apply()" size="default">
              Apply
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>